<p style="color: green"><%= notice %></p>

<div class="mb-3">
  <span class="fs-1"> Policemen </span>
  <%= link_to "New policeman", new_policeman_path, class: "btn btn-success btn-sm mb-2" %>
</div>

<div>
  <%= button_to "Sair", destroy_user_session_path, method: :delete %>
</div>

<div class="row mt-3 mb-3">
  <div class="col-auto">
    <%= form_with url: policemen_path,
                  method: :get,
                  data: { turbo_frame: 'search',
                  controller: 'search',
                  action: 'keyup->search#call' } do |f| %>

      <%= f.search_field :query, value: params[:query], class: "form-control", placeholder: "Buscar Policial" %>

    <% end %>
  </div>

  <div class="col-auto mt-2">
    <%= link_to "Limpar Busca", policemen_path %>
  </div>
</div>

<div id="policemen">
  <%= render 'policemen_table', policemen: @policemen %>
</div>

<%= link_to "Último Mês", last_month_policemen_path %>

