<p style="color: green"><%= notice %></p>

<hr>

<div class="row mt-2">
  <div class="col-auto">
    <h3> <%= @policeman.position %> <%= @policeman.name %></h3>
  </div>
  <div class="col-auto">
    <%= link_to "Back to policemen", policemen_path, class: "btn btn-primary btn-sm mt-1" %>
  </div>
</div>

<hr>

<div>
  <h4> Adicionar Ocorrência </h4>
  <%= render "occurrences/form" %>
</div>

<hr>

<div class="mt-3">
  <%= render "occurrences/occurrence" %>
</div>
