<h1>Editing occurrence</h1>

<div class="row">
  <%= form_with(model: [@policeman, @occurrence]) do |form| %>
    <div class="col-auto">
      <%= form.label :type_name, style: "display: block" %>
      <%= form.text_field :type_name, class: "form-control" %>
    </div>

    <div class="col-auto">
      <%= form.label :value, style: "display: block" %>
      <%= form.text_field :value, class: "form-control" %>
    </div>

    <div class="col-auto">
      <%= form.label :date, style: "display: block" %>
      <%= form.date_field :date, class: "form-control" %>
    </div>

    <div class="col-auto">
      <%= form.submit class: "btn btn-success btn-sm mt-1" %>
      <%= link_to "Back to occurrences", policeman_path(@policeman), class: "btn btn-primary btn-sm mt-1" %>
    </div>
  <% end %>
</div>
