<div class="row mt-3 mb-3">
  <h3> <%= I18n.t("month") %>: <%= I18n.t((Date.current - 1.month).strftime("%B")) %> </h3>

  <div class="col-auto mt-2">
    <%= link_to I18n.t("back_to_home"), home_path %>
  </div>
</div>

<table class="table table-striped mt-5">
  <thead>
  <tr class="text-center">
    <th> Posto/Graduação</th>
    <th> Nome</th>
    <th> Pontuação </th>
    <th> Ação </th>
  </tr>
  </thead>
  <tbody>
  <% @policemen.sort_by(&:score_last_month).reverse.each do |policeman| %>
    <div id="<%= dom_id policeman %>">
      <tr class="text-center">
        <td> <%= policeman.position %> </td>
        <td> <%= policeman.name %> </td>
        <td> <%= policeman.score_last_month %> </td>
        <td> <%= link_to I18n.t("show_this_policeman"), "../home/last_month/#{policeman.id}", data: {turbo: false}, class: "btn btn-info btn-sm" %> </td>
      </tr>
    </div>
  <% end %>
  </tbody>
</table>
