<div class="mb-3">
  <span class="fs-1"> <%= translate("policemen") %> - <%= I18n.t("month") %>: <%= I18n.t((Date.current).strftime("%B")) %> </span>
</div>

<div class="row mt-3 mb-3">
  <div class="col-auto">
    <%= form_with url: home_path,
                  method: :get,
                  data: { turbo_frame: 'search',
                          controller: 'search',
                          action: 'keyup->search#call' } do |f| %>

      <%= f.search_field :query, value: params[:query], class: "form-control", placeholder: translate("looking_for_policeman") %>

    <% end %>
  </div>

  <div class="col-auto mt-2">
    <%= link_to translate("clean_search"), policemen_path %>
  </div>
</div>

<div id="policemen">
  <%= render 'policemen_table', policemen: @policemen %>
</div>

<%= link_to translate("last_month"), home_last_month_path %>

